@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-10;
}

button:focus {
  outline: none;
}

::-moz-selection {
  background: #c6c6c6;
  color: #161616;
}
::-webkit-selection {
  background: #c6c6c6;
  color: #161616;
}
::selection {
  background: #c6c6c6;
  color: #161616;
}

